<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Чатик</title>
</head>
<body>

    <div class="modal" id="modal"></div>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo" href="/chat">
                    <span>Hignio</span>
                </a>

                <nav class="nav">
                    <a href="" class="nav__link" id="link">Профиль</a>
                    <a href="/chat" class="nav__link">Сообщения</a>
                </nav>
            </div>
        </div>
    </header>
    
    

    <div class="chat">

        <div class="container">

            <div class="chat__inner">
                <button class="btn btn-create-room" id="createRoom">+</button>
                <button class="btn btn-create-room btn-join" id="joinRoom">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.5051 19H20C21.1046 19 22.0669 18.076 21.716 17.0286C21.1812 15.4325 19.8656 14.4672 17.5527 14.1329M14.5001 10.8645C14.7911 10.9565 15.1244 11 15.5 11C17.1667 11 18 10.1429 18 8C18 5.85714 17.1667 5 15.5 5C15.1244 5 14.7911 5.04354 14.5001 5.13552M9.5 14C13.1135 14 15.0395 15.0095 15.716 17.0286C16.0669 18.076 15.1046 19 14 19H5C3.89543 19 2.93311 18.076 3.28401 17.0286C3.96047 15.0095 5.88655 14 9.5 14ZM9.5 11C11.1667 11 12 10.1429 12 8C12 5.85714 11.1667 5 9.5 5C7.83333 5 7 5.85714 7 8C7 10.1429 7.83333 11 9.5 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </button>
                <button class="btn btn-create-room btn-chat" id="chatUser">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="User / User_01"> <path id="Vector" d="M19 21C19 17.134 15.866 14 12 14C8.13401 14 5 17.134 5 21M12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7C16 9.20914 14.2091 11 12 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                </button>
                <div class="chats__list" id="chats-list">
                  
                </div>
        
                
                <div class="chat__block" id="chat-block">
                    
                    <div>
                        <div class="chat__header" >
                            <div class="chat__header--name"></div>
                            <div class="chat__header--member">
                                <span class="chat__header--member--count"></span> 
                                Участников
                            </div>
                        </div>
                    </div>
                    
        
                    <div class="chat__message"></div> <!-- ./ chat__message -->

                    <div>
                        <form class="chat__input">
                            <input type="text" class="chat__input-field" placeholder="Написать сообщение">
                            <button class="chat__input--send-btn" type="submit"></button>
                            <svg id= 'voice' fill="#000000" class="chat-micro" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="#000000" transform="rotate(0)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                                <path d="M15.965 22h0.238c2.78 0 4.797-2.050 4.797-4.874v-11.919c0-2.92-2.108-5.207-4.798-5.207h-0.237c-2.738 0-4.965 2.336-4.965 5.207v11.919c0 2.779 2.135 4.874 4.965 4.874zM13 5.207c0-1.768 1.33-3.207 2.965-3.207h0.238c1.595 0 2.797 1.379 2.797 3.207v11.919c0 1.718-1.124 2.874-2.798 2.874h-0.237c-1.746 0-2.965-1.181-2.965-2.874zM25 11c-0.552 0-1 0.448-1 1v4.159c0 5.95-2.124 8.842-6.492 8.842h-2.973c-5.713 0-6.535-4.808-6.535-8.841v-4.159c0-0.552-0.448-1-1-1s-1 0.448-1 1v4.159c0 6.89 2.872 10.841 8.535 10.841h0.465v3h-5c-0.552 0-1 0.448-1 1s0.448 1 1 1h12c0.552 0 1-0.448 1-1s-0.448-1-1-1h-5v-3h0.508c3.874 0 8.492-1.881 8.492-10.842v-4.159c0-0.552-0.448-1-1-1z"></path> 
                                </g>
                            </svg>
                        </form>
                    </div>
                   
        
                </div>  <!--* ./ chat__block -->

            </div> <!-- * ./ chat__inner -->

        </div> <!-- * ./ container-->

    </div> <!-- * ./ chat-->
    

    <footer class="footer">
        <span class="footer__span">going_hi</span>
    </footer>
    
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="/js/voiceMessage.js"></script>
    <script src="/js/chatEvent.js"></script>
    
    <script src="/js/index.js"></script>
    <script src="/js/voice.js"></script>
    
</body>
</html>